<%- include('./partials/hero.ejs') %>

<section class="women-section section-scroll">                                
    <figure class="banner-left">
        <a href="#" style="background-image: url(images/product/shirt/black_1.png); background-color: #c79369;"></a>
        <div class="banner-content">
            <h5 class="banner-subtitle text-primary font-weight-normal">NEW SEASON STYLES</h5>
            <h3 class="banner-title">The new wave ss23 shirt</h3>
            <p class="banner-desc font-weight-normal">Our exceptional Premium Cotton, Short Sleeve , Ribbed Crewneck shirt available for sale.</p>
            <a href="shop" class="btn btn-secondary">VIEW OUR COLLECTION</a>
        </div><!--End .banner-content-->
    </figure><!--End .banner-left-->
                           
    <div class="owl-carousel owl-simple" data-toggle="owl" 
        data-owl-options='{
            "nav": true, 
            "dots": false,
            "margin": 20,
            "loop": true,
            "responsive": {
                "0": {
                    "items":1
                },
                "576": {
                    "items":2
                },
                "768": {
                    "items":2
                },
                "992": {
                    "items":1.65
                }
            }
        }'>
        <figure class="product">
            <a href="shop">
                <img src="images/product/shirt/OBI05010-1.png" alt="Product image" width="446" height="700" style="background-color: #a1a1a1;">
            </a>

            <div class="hotspot-wrapper hotspot-1">
                <a href="shop" class="hotspot">
                    <i class="fa-solid fa-circle-plus"></i>
                </a><!--End .hotspot-->

                <div class="tooltip right-tooltip">
                    <figure class="product-media">
                        <a href="shop">
                            <img src="images/product/shirt/OBI05010-1.png" alt="Product image" width="75" height="100">
                        </a>

                        <div class="product-body">
                            <div class="product-title">ss23 shirt white</div>
                            <div class="product-price">$17.99-$199.00</div>
                            <a href="shop" class="btn-link">View Products</a>
                        </div><!--End .product-body-->
                    </figure><!--End .product-media-->
                </div><!--End .tooltip right-tooltip-->
            </div><!--End .hotspot-wrapper-->

            <div class="hotspot-wrapper hotspot-2">
                <a href="shop" class="hotspot active">
                    <i class="fa-solid fa-circle-plus"></i>
                </a><!--End .hotspot-->

                <div class="tooltip right-tooltip">
                    <figure class="product-media">
                        <a href="product.html">
                            <img src="images/product/shirt/black_1.png" alt="Product image" width="75" height="100">
                        </a>

                        <div class="product-body">
                            <div class="product-title">ss23 shirt black</div>
                            <div class="product-price">$17.99</div>
                            <a href="single.html" class="btn-link">Read More</a>
                        </div><!--End .product-body-->
                    </figure><!--End .product-media-->
                </div><!--End .tooltip right-tooltip-->
            </div><!--End .hotspot-wrapper-->
        </figure><!--End .product-->

        <figure class="product">
            <a href="shop">
                <img src="images/product/jersey/OBI05244.png" alt="Product image" width="446" height="700" style="background-color: #a1a1a1;">
            </a>

            <div class="hotspot-wrapper hotspot-3">
                <a href="shop" class="hotspot">
                    <i class="fa-solid fa-circle-plus"></i>
                </a><!--End .hotspot-->

                <div class="tooltip left-tooltip">
                    <figure class="product-media">
                        <a href="shop">
                            <img src="images/product/jersey/main.png" alt="Product image" width="75" height="100">
                        </a>

                        <div class="product-body">
                            <div class="product-title">Sandals</div>
                            <div class="product-price">$199.00</div>
                            <!-- <a href="#" class="btn-link">Add To Cart</a> -->
                        </div><!--End .product-body-->
                    </figure><!--End .product-media-->
                </div><!--End .tooltip left-tooltip-->
            </div><!--End .hotspot-wrapper-->
        </figure><!--End .product-->
        <figure class="product">
            <a href="shop">
                <img src="images/product/cap/OBI05002-1.png" alt="Product image" width="446" height="700" style="background-color: #a1a1a1;">
            </a>

            <div class="hotspot-wrapper hotspot-3">
                <a href="shop" class="hotspot">
                    <i class="fa-solid fa-circle-plus"></i>
                </a><!--End .hotspot-->

                <div class="tooltip left-tooltip">
                    <figure class="product-media">
                        <a href="shop">
                            <img src="images/product/cap/OBI05176.png" alt="Product image" width="75" height="100">
                        </a>

                        <div class="product-body">
                            <div class="product-title">Cap</div>
                            <div class="product-price">$199.00</div>
                            <!-- <a href="#" class="btn-link">Add To Cart</a> -->
                        </div><!--End .product-body-->
                    </figure><!--End .product-media-->
                </div><!--End .tooltip left-tooltip-->
            </div><!--End .hotspot-wrapper-->
        </figure>
       <!--End .product-->
    </div><!--End .owl-carousel-->                        
</section><!--End .women-section section-scroll-->

<section class="product-section section-scroll">
    <div class="brands-border owl-carousel owl-simple" data-toggle="owl" 
        data-owl-options='{
            "nav": false, 
            "dots": false,
            "margin": 0,
            "loop": false,
            "responsive": {
                "0": {
                    "items":2
                },
                "576": {
                    "items":3
                },
                "768": {
                    "items":4
                },
                "992": {
                    "items":5
                },
                "1200": {
                    "items":6
                },
                "1600": {
                    "items": 7
                }
            }
        }'>

    </div><!-- End .owl-carousel -->

    <div class="container">
        <div class="heading text-center mt-6">
            <h3 class="text-secondary">Recent Arrivals</h3>
            <h6 class="font-weight-light">Find your  perfect item here</h6>
        </div><!--End .heading-->

        <div class="owl-carousel owl-simple shop_items" id="shop_items" data-toggle="owl" 
            data-owl-options='{
                "nav": false, 
                "dots": false,
                "margin": 20,
                "loop": false,
                "responsive": {
                    "0": {
                        "items":2
                    },
                    "576": {
                        "items":2
                    },
                    "768": {
                        "items":3
                    },
                    "992": {
                        "items":4
                    }
                }
            }'>

            
           
            <% items.forEach(function(item) { %>
              
                <div class="product product-27 text-center">
                    <figure class="product-media">
                        <% if(item.quantity > 0){ %>
                            <span class="product-label label-new">Sale</span>
                        <% }else { %>
                            <span class="product-label label-out">Out of stock</span>
                        <% } %>
                        <a href="product.html">
                            <img src="<%- item.imageUrls[0] %>" alt="Product image" width="335" height="480" class="product-image" style="background-color: #fafafa;">
                            <% if(item.imageUrls[1]){ %>
                            <img src="<%- item.imageUrls[1] %>" alt="Product image" width="335" height="480" class="product-image-hover" style="background-color: #fafafa;">
                            <% } %>
                        </a>
    
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                        </div><!-- End .product-action-vertical -->
                    </figure><!-- End .product-media -->
    
                    <div class="product-body">
                    
                          
                        <div  class="product-action">
                            <% if(item.quantity > 0){ %>
                            <button  id="add_to_cart" href="#" class="btn-product btn-cart"  data-id="<%-
                                item.id
                            %>" 
                            data-image="<%- item.imageUrls[0] %>" 
                            data-quantity="<%-
                        item.quantity
                        %>" 
                        data-name="<%- item.name %>" 
                        data-color="<%-
                        item.colors[0]
                        %>" 
                        data-price="<%- item.price %>"><span>ADD TO CART</span></button>
                        <% } else { %> 

                           <button class="btn-product btn-cart" style="cursor: not-allowed;"><span>Out Of Stock</span></button>
                         <% } %>   
                        </div>
    
                        <h3 class="product-cat"><a href="product.html"></a> <%- item.category  %></h3>
                        <h3 class="product-title"><a href="product.html">  <%- item.name  %></a></h3><!-- End .product-title -->
                        <div class="product-price">
                           <span class="new-price"><%- formatAmount({ type: '', amount:item.price, currency: 'NGN', options: {
                            minimumFractionDigits: 2,
                          },}) %> </span>
                           <span class="old-price">Was <%- formatAmount({ type: '', amount:item.price + 5000, currency: 'NGN', options: {
                            minimumFractionDigits: 2,
                          },}) %> </span>
                        </div><!-- End .product-price -->
    
                        <div class="product-footer">
                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <span class="ratings-text"><a href="product.html">(  Reviews )</a></span>
                            </div><!-- End .rating-container -->
                           
                            <div class="product-nav">

                            <%
                                item.colors.map((color)=> {
                            %>
                                    <% if(color){ %>
                                        <span style="width: 20px; height: 20px; border-radius: 50px; background-color: <%- color %>"></span>
                                   <% } %>
                                   
                            <% }) %>
                            </div>
                        </div>
                    </div>                         
                </div>
             <% }) %>   
       

            
        </div><!-- End .owl-carousel -->
    </div><!--End .container-->
</section>