<div class="page-header text-center" style="background-image: url('images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Shopping Collections<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">shopping collection</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="toolbox">
                    <div class="toolbox-left">
                        <div class="toolbox-info">
                            Showing <span>9 of 56</span> Products
                        </div><!-- End .toolbox-info -->
                    </div><!-- End .toolbox-left -->

                    <div class="toolbox-right">
                        <div class="toolbox-sort">
                            <label for="sortby">Sort by:</label>
                            <div class="select-custom">
                                <select name="sortby" id="sortby" class="form-control">
                                    <option value="popularity" selected="selected">Most Popular</option>
                                    <option value="rating">Most Rated</option>
                                    <option value="date">Date</option>
                                </select>
                            </div>
                        </div><!-- End .toolbox-sort -->
                    
                    </div><!-- End .toolbox-right -->
                </div><!-- End .toolbox -->

                <div class="products mb-3">
                    <div class="row justify-content-center" id="shopping_items">

                        <% items.forEach(function(item) { %>

                            <div class="col-6 col-md-4 col-lg-4">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                   
                                        <% if(item.quantity > 0){ %>
                                            <span class="product-label label-new">New</span>
                                        <% }else { %>
                                            <span class="product-label label-out">Out of stock</span>
                                        <% } %>
                                       
                                        <a href="product-details?id=<%- item.id %>">
                                            <img src="<%- item.imageUrls[0] %>" alt="Product image" width="335" height="480" class="product-image" style="background-color: #fafafa;">
                                            <% if(item.imageUrls[1]){ %>
                                            <img src="<%- item.imageUrls[1] %>" alt="Product image" width="335" height="480" class="product-image-hover" style="background-color: #fafafa;">
                                            <% } %>
                                        </a>
                        
                                        <div class="product-action-vertical">
                                        
                                            <a href="product-details?id=<%- item.id %>" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span><span><i class="fa-solid fa-eye"></i></span></a>
                                         
                                        </div><!-- End .product-action-vertical -->
                        
                                        <div class="product-action">
                                        <button href="#" id="add_to_cart" class="btn-product btn-cart"   
                                        data-id="<%-
                                           item.id
                                         %>" 
                                         data-image="<%- item.imageUrls[0] %>" 
                                         data-quantity="<%-
                                     item.quantity
                                   %>" 
                                   data-name="<%- item.name %>" 
                                   data-color="<%-
                                     item.colors[0]
                                   %>" 
                                   data-price="<%- item.price %>"><span>ADD TO CART</span></button>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
                        
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#"><%- item.category %></a></a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product-details"><%- item.name %></a></a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            <%- formatAmount({ type: '', amount:item.price, currency: 'NGN', options: {
                                                minimumFractionDigits: 2,
                                              },}) %>
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                         
                                        </div><!-- End .rating-container -->
                        
                                  
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div>


                        <% }) %>       
                    
                       
                        

                    </div>
                    <div id="loader">

                    </div>
                    <!-- End .row -->
                </div><!-- End .products -->

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item-total">of 6</li>
                        <li class="page-item">
                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3 order-lg-first">
                <div class="sidebar sidebar-shop">
                    <div class="widget widget-clean">
                        <label>Filters:</label>
                        <a href="#" class="sidebar-filter-clear">Clean All</a>
                    </div><!-- End .widget widget-clean -->

                    <div class="widget widget-collapsible">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                Category
                            </a>
                        </h3><!-- End .widget-title -->

                        <div class="collapse show" id="widget-1">
                            <div class="widget-body">
                                <div class="filter-items filter-items-count" id="category">
                            
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->

                    

                    
                    

                    <div class="widget widget-collapsible">
                    

                        <div class="collapse show" id="widget-5">
                            <div class="widget-body">
                                <div class="filter-price">
                                    <div class="filter-price-text">
                                        Price Range:
                                        <span id="filter-price-range"></span>
                                    </div><!-- End .filter-price-text -->

                                    <div id="price-slider"></div><!-- End #price-slider -->
                                </div><!-- End .filter-price -->
                            </div><!-- End .widget-body -->
                        </div><!-- End .collapse -->
                    </div><!-- End .widget -->
                </div><!-- End .sidebar sidebar-shop -->
            </aside><!-- End .col-lg-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->